In [69]:
import json

file = "non_time_related_queries.json"

with open(f"dataset/{file}") as f:
    samples = json.load(f)
    
with open(f"dataset_parsed/{file}") as f:
    parsed_samples = json.load(f)
    
with open(f"generated_ppls_parsed/{file}") as f:
    parsed_ppls = json.load(f)
    
with open(f"generated_ppls/{file}") as f:
    baseline_ppls = json.load(f)
    
with open(f"results/gold/{file}") as f:
    gold = json.load(f)
    
with open(f"results/baseline/{file}") as f:
    baseline = json.load(f)
    
with open(f"results/baseline-parsed/{file}") as f:
    parsed = json.load(f)
    
for i in range(len(samples)):
    if samples[i]["time_range"][0]!= parsed_samples[i]["start"] or samples[i]["time_range"][1]!= parsed_samples[i]["end"]:
        print(i)

In [60]:
from utils import eval_execution_accuracy, simple_parse

corrects = []
for i in range(len(samples)):
    gt_sample = gold[i]
    eval_sample = baseline[i]
        # Check for syntax errors
    if eval_sample["data_rows"] == "ERROR":
        continue

    # Get data rows
    gt_rows = gt_sample["data_rows"]
    eval_rows = eval_sample["data_rows"]

    try:
        if eval_execution_accuracy(
            simple_parse(eval_rows, eval_sample["schema"]),
            simple_parse(gt_rows, gt_sample["schema"]),
        ):
            corrects.append(i)
    except:
        print(i)
        pass
    
len(corrects)

1
38

52
58
63
80
86

47

In [61]:
from compare_results import compare_results

compare_results(f"results/gold/{file}", f"results/baseline/{file}", "tmp.json")

In [62]:
corrects_parsed = []
for i in range(len(samples)):
    gt_sample = gold[i]
    eval_sample = parsed[i]
        # Check for syntax errors
    if eval_sample["data_rows"] == "ERROR":
        continue

    # Get data rows
    gt_rows = gt_sample["data_rows"]
    eval_rows = eval_sample["data_rows"]

    try:
        if eval_execution_accuracy(
            simple_parse(eval_rows, eval_sample["schema"]),
            simple_parse(gt_rows, gt_sample["schema"]),
        ):
            corrects_parsed.append(i)
    except:
        pass

In [63]:
set(corrects) - set(corrects_parsed), set(corrects_parsed) - set(corrects)

({26, 81}, {25})

In [70]:
for idx in {25}:
    print(samples[idx]["question"])
    print(samples[idx]["now"])
    print(parsed_samples[idx]["question"])
    print(parsed_ppls[idx]["query"])
    print(baseline_ppls[idx]["query"])
    print(samples[idx]["query"])
    print("*"*100)

List all unique destination countries for flights that were delayed.
TIMESTAMP('2026-07-27 12:34:56')
List all unique destination countries for flights
source=flight| dedup `DestCountry` | fields `DestCountry`
source=flight| where `FlightDelay` = true | dedup `DestCountry` | sort `DestCountry`
source=flight
| where FlightDelay = true
| dedup DestCountry
| fields DestCountry
****************************************************************************************************

In [34]:
import pandas as pd

# Define the indices
indices = [0, 3, 6, 10, 21, 28, 34, 39, 53, 65, 68, 73]

# Create a DataFrame with the specified data
df = pd.DataFrame({
    'Index': indices,
    'Origin Question': [samples[idx]["question"] for idx in indices],
    'Now': [samples[idx]["now"] for idx in indices],
    'Normed Question': [parsed_samples[idx]["question"] for idx in indices],
    'Extracted time range': [[parsed_samples[idx]["start"],parsed_samples[idx]["end"]] for idx in indices],
    'Origin PPL': [parsed_ppls[idx]["query"] for idx in indices],
    'PPL': [samples[idx]["query"] for idx in indices]
})

df

,Index,Origin Question,Now,Normed Question,Extracted time range,Origin PPL,PPL
0,0,Show me the weekly average taxless total price...,TIMESTAMP('2025-05-27 03:53:30'),Show me the weekly average taxless total price...,"[2024-11-27 03:53:30, 2025-05-27 03:53:30]",source=ecommerce| eval week = WEEK_OF_YEAR(`or...,source=ecommerce \n| where order_date > DATE_S...
1,3,Can you show me the weekly average taxless tot...,TIMESTAMP('2025-05-27 03:53:30'),Can you show me the weekly average taxless tot...,"[2024-11-27 03:53:30, 2025-05-27 03:53:30]",source=ecommerce| eval week = WEEK_OF_YEAR(`or...,source=ecommerce \n| where order_date > DATE_S...
2,6,Show me the weekly trend of the total number o...,TIMESTAMP('2025-05-27 03:53:30'),Show me the weekly trend of the total number o...,"[2025-02-27 03:53:30, 2025-05-27 03:53:30]",source=ecommerce| eval week = WEEK_OF_YEAR(`or...,source=ecommerce\n| where order_date > DATE_SU...
3,10,List all unique customer first names with orde...,TIMESTAMP('2025-05-27 03:53:30'),List all unique customer first names with orders,"[2025-05-20 03:53:30, 2025-05-27 03:53:30]",source=ecommerce| where `total_quantity` > 0 |...,source=ecommerce\n| where order_date > DATE_SU...
4,21,Find the ratio of flight delays in the last week.,TIMESTAMP('2025-05-27 03:53:30'),Find the ratio of flight delays,"[2025-05-20 03:53:30, 2025-05-27 03:53:30]","source=flight| stats count() as total_flights,...",source=flight \n| where timestamp > DATE_SUB(N...
5,28,What is the ratio of log entries where the req...,TIMESTAMP('2025-05-27 03:53:30'),What is the ratio of log entries where the req...,"[2025-04-27 03:53:30, 2025-05-27 03:53:30]",source=log_index| where `extension` = 'php' | ...,source=log_index \n| where timestamp > DATE_SU...
6,34,List all messages and timestamps for log entri...,TIMESTAMP('2025-05-27 03:53:30'),List all messages and timestamps for log entries,"[None, None]","source=log_index| fields `message`, `timestamp`","source=log_index\n| where response != ""200""\n|..."
7,39,List the URL and request fields for all docume...,TIMESTAMP('2025-05-27 03:53:30'),List the URL and request fields for all docume...,"[2025-05-20 03:53:30, 2025-05-27 03:53:30]",source=log_index| where query_string(['clienti...,"source=log_index\n| where geo.src=""IN"" and tim..."
8,53,What is the ratio of logs that have an HTTP st...,TIMESTAMP('2025-10-23 07:43:30'),What is the ratio of logs that have an HTTP st...,"[2025-10-16 07:43:30, 2025-10-23 07:43:30]",source=otel_logs| where `span.attributes.http@...,source=otel_logs\n| where endTime > DATE_SUB(N...
9,65,List all the status codes and their correspond...,TIMESTAMP('2025-10-23 07:43:30'),List all the status codes and their correspond...,"[2025-10-23 06:43:30, 2025-10-23 07:43:30]",source=otel_logs| where isnotnull(`span.attrib...,source=otel_logs\n| where startTime > DATE_SUB...
10,68,Find the ratio of logs where the request URL c...,TIMESTAMP('2025-05-27 03:53:30'),Find the ratio of logs where the request URL c...,"[2025-05-20 03:53:30, 2025-05-27 03:53:30]","source=sso_log| where SUBSTRING(`http.url`, 1)...",source=sso_log \n| where @timestamp > DATE_SUB...
11,73,Calculate the ratio of logs where the URL cont...,TIMESTAMP('2025-05-27 03:53:30'),Calculate the ratio of logs where the URL cont...,"[2025-05-20 03:53:30, 2025-05-27 03:53:30]","source=sso_log| where SUBSTRING(`http.url`, 1)...",source=sso_log | where @timestamp > DATE_SUB(N...

In [35]:
# 将DataFrame保存为CSV文件
df.to_csv('test.csv', index=False)